<!---------SECCION PERFIL---------------->

<header id="header" >
    <!---BANNER------>
    <img class="img-responsive" id="banner" src="../../../assets/images/flores5.png" alt="banner">   
    <!----CARTEL------>
    <div id="lead">
        <div id="cartel" class="lead-content">
            <h1>Santiago Castellani</h1>
            <h2>Full Stack Developer</h2>
        </div>
    </div>
</header>

<!------ACERCA DE----->

<section id="acerca-de">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img id="" class="foto-perfil" src="../../../assets//images/fotoperfil.png">                
            </div>
            <div id="about" class="col-md-9">
                <h2 class="">Sobre mí</h2>
                <p>En el Desarrollo Web encuentro la unión entre el arte y la lógica, dos pasiones que desde niño he cultivado.</p>
            </div>            
        </div>
    </div>
</section>
