/*------------BANNER-----------*/
#banner {
  width:100%;
  margin:0 auto;
  padding:0 auto;
}

#header {
  display: flex;
  justify-content: center;
}

#cartel {
  position:absolute;
  z-index:10;
  top:50%;
  left:50%;
  transform:
  translate(-50%, -50%);
  text-align:center
}

.lead-content h1, .lead-content h2{margin:0}

.lead-content h1{color: yellow;font-weight:900;font-size:5em;text-transform:uppercase;letter-spacing:0.05em;line-height:0.9em; text-shadow: 3px 3px green}

.lead-content h2{color: yellow; text-shadow: 3px 3px red;font-weight:500;font-size:2.25em;margin-bottom:15px}


@media only screen and (max-width: 790px) {
  .lead-content h1{font-size:3.3em}
  .lead-content h2{font-size:2.3em}
  .lead-content a{padding:10px 20px}
}

@media only screen and (max-width: 500px) {
  .lead-content h1{font-size:2.5em}
  .lead-content h2{font-size:1.7em}
}

@media only screen and (max-width: 400px) {
  .lead-content h1{font-size:2em}
  .lead-content h2{font-size:1.4em}
}


/*----------------------------------------------------------------------------------------*/
/*   ESTILOS ACERCA DE   */


/*---------Recuadro Acerca-de-------*/
#acerca-de {
  padding:10px;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom:1px solid red;
  border-left:1px solid orange;
  border-top:1px solid yellow;
  border-right:1px solid green; 
}

h2 {
  color: rgb(197, 183, 183); 
  margin:10px
}

p {
  color: rgb(197, 183, 183);
  margin:10px;
}

.row {
  margin:0 auto;
  padding:0 auto;
  display:flexbox;
  align-items: center;
  justify-content: center;
}


/*---------Foto de perfil--------*/
.foto-perfil{
  height: 150px;
  border-radius: 50%;
  position: relative;
  top:-88px;
  right:30px;
  padding: 0;
  margin:0 auto;
}

/*----------BOTON EDITAR PERFIL---------*/
#editar-foto-perfil {  
  position: relative;
  top:-130px;
  left:60px;
  padding: 0;
  margin:0 auto;
}

/*----????????--------*/
#about {
  padding:0 auto;
  margin:0 auto;
}

/*ESTILOS DE MODALES DE EDICION*/


.modal-content {    
  border-bottom:4px solid red;
  border-left:4px solid orange;
  border-top:4px solid yellow;
  border-right:4px solid green;  
}

.modal-editar {
  background: rgb(197, 197, 21);  
}

.modal-agregar {
  background: orangered;  
}

.modal-borrar {
  background: red;  
}


@media only screen and (max-width: 765px) {
  .foto-perfil{
    position:static;
    margin:25px;
  }
}


@media only screen and (max-width: 510px) {
  .foto-perfil{
    position:static;
    margin-top:75px;
  }  
}

@media only screen and (max-width: 390px) {
  .foto-perfil{
    position:static;
    margin-top:120px;
  }  
}