<!----Barra de navegación---LOGO Y SOCIAL--------> 

<nav id="navegacion" class="navbar">
    <div class="nav-active" id="argentina-programa">
        <a href="https://argentinaprograma.inti.gob.ar/" target="blanck"><img class="img-fluid" id="logoargentina" alt="Logo Argentina Programa" src="assets/images/logoargentinaprograma.png"/></a>
        <span class="span1">Argentina Programa</span>
        <span class="span2">#YO PROGRAMO</span>
    </div>
    <ul id="social" class="list-inline">
        <li class="list-inline-item vin">
            <a href="https://github.com/SantiagoCastellaniDev" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
        <li id="linke" class="list-inline-item vin">
            <a href="https://linkedin.com/in/santiagocastellani" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li> 
    </ul>
</nav>