/*-----SKILLS------*/

/*----Detalles del titulo--------*/
.titular {
    color: orange; 
}

.titular:after {
    background: lightseagreen;
}
.contenedor-skills {
    display:flex;
    
}

/*----------------Hard & Soft Skills------------------------*/
#hard-skills, #soft-skills {
    color: yellow;
    margin-bottom: 10px;
    margin-top:20px;  
}    

.row {
    margin-bottom: 20px;
    justify-content: center;
}

.skills {
    margin: 0px 15px;
    padding: 0px 10px;
    text-align: left;
    display:flexbox;
}

fa-icon, span, .btn-edicion {
    display: inline;
}
.btn-edicion {
    margin-right:0;
}

/*--------Barra de progreso-----Hard skills----*/
.progress {
    height: 19px;
    background: grey;
    margin:0 auto;
    padding:0;    
}

.progress-bar {
    color: rgb(39, 37, 37);
    font-size: 15px;
    font-weight: bold;
}

/*-------Clases de colores para hard skills---------*/


.bg-orangered {
    background: orangered;
}
.bg-blue {
    background:blue;
}
.bg-yellow {
    background:yellow;
}
.bg-purple {
    background: purple;
}
.bg-red {
    background: red;
}
.bg-green {
    background:green;
}
.bg-pink {
    background: salmon;
}
.bg-lightblue {
    background: lightblue;
}
.bg-brown {
    background:brown;
}


fa-icon, span {
    margin: 5px;
    padding: 0%;
    font-size: 20px;
    color: white;
}

hr {
    border: 1px solid white;
    width: 60%;
    margin:0 auto;
    margin-bottom: 15px;
}

/*ESTILOS DE MODALES DE EDICION*/


.modal-content {    
    border-bottom:4px solid red;
    border-left:4px solid orange;
    border-top:4px solid yellow;
    border-right:4px solid green;  
}

.modal-editar {
    background: rgb(197, 197, 21);  
}

.modal-agregar {
    background: orangered;  
}

.modal-borrar {
    background: grey;  
}


.modal-header h5{
    color:blue;
    font-size: 30px;
}

.form-control {
    background-color: white;
    color: grey;
}

.form-control:focus {
    background-color: white;
    color: black;
}

label {
    margin-top:15px;
    margin-bottom: 2px;
}
.modal-footer {
    display: inline;
}
.modal-footer button {
    margin: 25px
}

.btn-primary {
    float: left
}
.btn-secondary {
    float:right;
}

.contenedor-skills {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-tarjeta {
    width:100px;
    height:100px
}

